  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo me-auto">
        <img src="assets/img/logo_blue.png" alt="" class="img-fluid">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Artigos</a></li>
          <li><a class="nav-link scrollto" href="#services">Categorias</a></li>
          <li><a class="nav-link scrollto" href="#team">Usuários</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>