<div class="container d-flex justify-content-center">
    <div class="card text-dark bg-light text-center">
        <div class="card-header">
            <h2>Escopo 2</h2>
            <div class="card-body">
                <button type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#scope1">
                    Parâmetros
                </button>
            </div>
            <div class="modal fade" id="scope1" tabindex="-1" role="dialog" aria-labelledby="scope1Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Combustão Estacionária (1 de 4)</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-bs-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/admin/scope2">
                                <fieldset>
                                    <input class="form-control" name="ce_co2_biogenico" type="number" placeholder="CO2 Biogênico (t)">
                                    <br>
                                    <input class="form-control" name="ce_co2_fossil" type="number" placeholder="CO2 Fóssil (t)">
                                    <br>
                                    <input class="form-control" name="ce_ch4" type="number" placeholder="CH4">
                                    <br>
                                    <input class="form-control" name="ce_n2o" type="number" placeholder="N2O">
                                    <br>
                                    <input class="form-control" name="ce_co2e" type="number" placeholder="COe2">
                                    <br>
                                </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-secondary btn-next">Próximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <button hidden type="button" class="btn btn-send" data-bs-toggle="modal" data-bs-target="#scope2">
                Processamento de Emissões
            </button>

            <div class="modal fade" id="scope2" tabindex="-1" role="dialog" aria-labelledby="scope2Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Processamento de Emissões (2 de 4)</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-bs-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <fieldset>
                                    <input class="form-control" name="pe_co2_biogenico" type="number" placeholder="CO2 Biogênico (t)">
                                    <br>
                                    <input class="form-control" name="pe_co2_fossil" type="number" placeholder="CO2 Fóssil (t)">
                                    <br>
                                    <input class="form-control" name="pe_ch4" type="number" placeholder="CH4">
                                    <br>
                                    <input class="form-control" name="pe_n2o" type="number" placeholder="N2O">
                                    <br>
                                    <input class="form-control" name="pe_co2e" type="number" placeholder="COe2">
                                    <br>
                                </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
                            <button type="button" class="btn btn-send btn-next">Próximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#scope3">
                Combustão móvel
            </button>

            <div class="modal fade" id="scope3" tabindex="-1" role="dialog" aria-labelledby="scope3Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Combustão Móvel (3 de 4)</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-bs-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <fieldset>
                                    <input class="form-control" name="cm_co2_biogenico" type="number" placeholder="CO2 Biogênico (t)">
                                    <br>
                                    <input class="form-control" name="cm_co2_fossil" type="number" placeholder="CO2 Fóssil (t)">
                                    <br>
                                    <input class="form-control" name="cm_ch4" type="number" placeholder="CH4">
                                    <br>
                                    <input class="form-control" name="cm_n2o" type="number" placeholder="N2O">
                                    <br>
                                    <input class="form-control" name="cm_co2e" type="number" placeholder="COe2">
                                    <br>
                                </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
                            <button type="button" class="btn btn-send btn-next">Próximo</button>
                        </div>
                    </div>
                </div>
            </div>

            <button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#scope4">
                Combustão móvel
            </button>

            <div class="modal fade" id="scope4" tabindex="-1" role="dialog" aria-labelledby="scope4Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Emissões Fugitivas (4 de 4)</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-bs-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <fieldset>
                                    <input class="form-control" name="ef_co2_biogenico" type="number" placeholder="CO2 Biogênico (t)">
                                    <br>
                                    <input class="form-control" name="ef_co2_fossil" type="number" placeholder="CO2 Fóssil (t)">
                                    <br>
                                    <input class="form-control" name="ef_ch4" type="number" placeholder="CH4">
                                    <br>
                                    <input class="form-control" name="ef_n2o" type="number" placeholder="N2O">
                                    <br>
                                    <input class="form-control" name="ef_co2e" type="number" placeholder="COe2">
                                    <br>
                                    <button type="submit" class="btn btn-send">Salvar</button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>