<section id="team" class="team section-white-inverted-bg">
    <div class="container justify-content-md-center">

      <div class="section-title">
        <h2>Sobre</h2>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <h2>Nossa essência</h2>
            <!-- <span>Chief Executive Officer</span> -->
            <p style="text-align: justify;">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/team-3.jpg" alt="">
            <h4>Daniel Ramos</h4>
            <p>
              Graduando em Engenharia de Produção na Universidade Federal de São Carlos (UFSCAR). Tem experiência com vendas, mercado B2B, e com públicos multiculturais.
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/daniel-ramos-83732a168/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div> -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <h2>De onde viemos</h2>
            <!-- <span>Posição</span> -->
            <p style="text-align: justify;">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>