<section id="team" class="team section-white-inverted-bg">
    <div class="container justify-content-md-center">

      <div class="section-title">
        <h2>Sobre</h2>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <h3>Nossa essência</h3>
            <!-- <span>Chief Executive Officer</span> -->
            <p style="text-align: justify;">
              Somos uma cleantech que fornece soluções acessíveis, seguras e escaláveis para ESG e sustentabilidade corporativa. Fornecemos suporte à contabilidade de impactos socioambientais, às ações de redução e mitigação de impacto, e ao relato, nos padrões de compliance e de melhores práticas. Essas soluções têm sido automatizadas e respaldadas na tecnologia para trazer rigor científico, rastreabilidade e sigilo empresarial.
            </p>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/team-3.jpg" alt="">
            <h4>Daniel Ramos</h4>
            <p>
              Graduando em Engenharia de Produção na Universidade Federal de São Carlos (UFSCAR). Tem experiência com vendas, mercado B2B, e com públicos multiculturais.
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/daniel-ramos-83732a168/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div> -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <h3>De onde viemos</h3>
            <!-- <span>Posição</span> -->
            <p style="text-align: justify;">
              Nossa origem vem de uma trajetória de quase dez anos de nossa idealizadora na área de sustentabilidade. Quando percebeu que a produção de dados e informações sobre o desenvolvimento sustentável de empresas carecia de acessibilidade, entendeu que era preciso unir a tecnologia à consultoria tradicional. Assim, em 2021, nasceu a Tacet Vere, uma startup-filha da Universidade Estadual de Campinas – UNICAMP.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>