<section id="team" class="team section-white-inverted-bg">
    <div class="container justify-content-md-center">

      <div class="section-title">
        <h2>Nosso time</h2>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/team-1.jpeg" alt="">
            <h4>Daniela Falco</h4>
            <!-- <span>Chief Executive Officer</span> -->
            <p>
              Bacharela em Gestão e Análise Ambiental (UFSCAR) e em Direito (PUCCAMP), mestra em Gestão de Projetos (ESALQ-USP) e Planejamento de Sistemas Energéticos (UNICAMP), e Doutoranda nesse último curso, tem mais de oito anos de experiência junto ao mercado de sustentabilidade. Possui fluência em alemão, inglês e espanhol.
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/danielagodoyfalco/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/team-3.jpg" alt="">
            <h4>Daniel Ramos</h4>
            <!-- <span>Posição</span> -->
            <p>
              Graduando em Engenharia de Produção na Universidade Federal de São Carlos (UFSCAR). Tem experiência com vendas, mercado B2B, e com públicos multiculturais.
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/daniel-ramos-83732a168/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/team-2.jpg" alt="">
            <h4>Adriane Falsarella</h4>
            <!-- <span>Posição</span> -->
            <p>
              Graduanda em Engenharia Ambiental na Escola de Engenharia de São Carlos (EESC-USP). Realizou diversos projetos de consultoria ambiental e tem experiência na área de economia circular, análise e monitoramento ambiental. Possui fluência em inglês e italiano, além de conhecimento básico em espanhol e francês. 
            </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/adriane-falsarella-8a18881b8/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>