<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contato</h2>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6  mt-2 d-flex align-items-stretch">

          <div class="info">
            <div class="phone text-center">
              <i class="bi bi-phone"></i>
              <h4>Telefone:</h4>
              <p>+55 (61) 9 9999-8888</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-6 mt-2 d-flex align-items-stretch">

          <div class="info">
            <div class="email text-center">
              <i class="bi bi-envelope"></i>
              <h4>E-mail para contato:</h4>
              <p>contato@tacetvere.com</p>
            </div>
          </div>

        </div>


        <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nome:</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">E-mail:</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Assunto:</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group mt-3">
              <label for="name">Mensagem:</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div> -->

      </div>

    </div>
  </section>

</main>