<footer id="footer">
    <div class="container">
      <!-- <h3><img src="/assets/img/logo_white.png" class="rounded float-left" style="width:250px; height: auto;"></h3> -->
      <p style="text-align: center;">
        E-mail: contato@tacetvere.com <br>
        Telefone: +55 19 97808-3223
      </p>
      <p style="text-align: center;">
        Falco Gestão e Análise Ambiental LTDA <br>
        CNPJ: 41.909.202/0001-38 | Inscrição Estadual: 122.534.189.112 
      </p>
      <div class="copyright">
        &copy; Copyright <strong><span>Tacet Vere</span></strong><br>Todos os direitos reservados
      </div>
      <br>
      <div class="row justify-content-center">
        <a href="/politica-de-privacidade" style="color: white;"><u>Política de privacidade</u></a>
        <br>
        <a href="/termos-de-uso" style="color: white;"><u>Termos de uso</u></a>
      </div>
      <br>
      <div class="social-links">
        <a href="https://www.linkedin.com/company/tacet-vere/about/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <!-- <div class="credits"> -->
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        <!--Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a> -->
      <!-- </div> -->
    </div>
    <a href="https://api.whatsapp.com/send?phone=5519978083223" target="_blank" class="back-to-top d-flex align-items-center justify-content-center" style="z-index: 301; margin-bottom: 15px; margin-right: 15px;" >
      <i class="bi bi-whatsapp" style="z-index: 300;" ></i>
      <i class="bi bi-whatsapp play-btn" ></i>
    </a>
</footer>