<footer id="footer">
    <div class="container">
      <h3><img src="assets/img/logo_white.png" class="rounded float-left" style="width:250px; height: auto;"></h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/company/tacet-vere/about/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Green</span></strong>. Todos os direitos reservados
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5519978083223" target="_blank" class="back-to-top d-flex align-items-center justify-content-center" style="z-index: 301;" >
      <i class="bi bi-whatsapp" style="z-index: 300;" ></i>
      <i class="bi bi-whatsapp play-btn" ></i>
    </a>
  </footer>