<% if (token==undefined){ %>
    <div></div>
<% }else{ %>
    <section id="results" class="results section-white-bg">
        <div class="container">
    
          <div class="section-title">
            <h2>Resultados</h2>
          </div>
    
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 1</h3>
                    </div>
                    <div class="card-body">
                        <p>Emissões totais de CO2e (t): 4</p>
                        <p>Emissões totais de CO2e (%): 91.68%</p>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>O escopo 1 está relacionado com ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 2</h3>
                    </div>
                    <div class="card-body">
                        <p>Emissões totais de CO2e (t): 0</p>
                        <p>Emissões totais de CO2e (%): 8.32%</p>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>O escopo 2 está relacionado com ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Emissões Totais de Gases do Efeito Estufa (tCO2e)</h3>
                    </div>
                    <div class="card-body text-center">
                        <h3>5</h3>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>As Emissões Totais de Gases  ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Potencial de Aquecimento Global - GWP(100) AR6</h3>
                    </div>
                    <div class="card-body">
                        <p>CO2 biogênico: 0</p>
                        <p>CO2 fóssil: 1</p>
                        <p>CO2 biogênico: 0</p>
                        <p>CO2 fóssil: 1</p>
                        <p>CH4: 27.9</p>
                        <p>N2O: 273</p>
                        <p>HFC-32: 771</p>
                        <p>HFC-125: 3740</p>
                        <p>CFC-12: 11200</p>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>O Potencial de Aquecimento Global está relacionado com ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
      </section>
<% } %>