:root {
    --body-color: #19453B;
    --text-color: #FFF;
    --title-color: #0F0F0F;
    --body-text-color: #000000;
    --button-color: #2FAC66;
    --border-gray: #BABABA;
    --faq-button: #1CD76E;
  }

body {
    background-color: var(--body-color);
}

h1, h2, h3, h4, h5 , p{
    font-family: "Red-Hat-Display", sans-serif;
    color: var(--text-color);
    font-style: normal;
}

.logo{
    position: absolute;
    width: 193px;
    height: 56px;
    left: 70px;
    top: 60px;
    border-radius: 0px;
}

.converse-conosco-logo{
    position: absolute;
    left: -13%;
    right: 0%;
    top: -10%;
    bottom: 0%;
    color: var(--text-color);
}

.converse-conosco{
    position: absolute;
    width: 278px;
    height: 36px;
    left: 120px;
    top: 176px;
    font-weight: 900;
    font-size: 18px;    
}

.converse-conosco-info {
    position: absolute;
    width: 330px;
    height: 21px;
    left: 120px;
    top: 210px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

.converse-conosco-contato {
    position: absolute;
    width: 187px;
    height: 36px;
    left: 120px;
    top: 235px;
    font-weight: 900;
    font-size: 16px;
    line-height: 36px;
}

.WhatsApp-logo{
    position: absolute;
    left: -30%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    color: var(--text-color);
}

.WhatsApp{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 120px;
    top: 335px;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
}

.WhatsApp-info{
    position: absolute;
    width: 330px;
    height: 21px;
    left: 120px;
    top: 381px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;  
}

.WhatsApp-contato{
    position: absolute;
    width: 147px;
    height: 36px;
    left: 120px;
    top: 412px;
    font-weight: 900;
    font-size: 16px;    
}

.faq-logo{
    position: absolute;
    left: -80%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    color: var(--text-color);
}

.faq .btn-next{
    width: 125px;
    height: 44px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    background: var( --faq-button);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-color);
    border-color: transparent;
}

.faq{
    position: absolute;
    width: 41px;
    height: 36px;
    left: 120px;
    top: 294px;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
}

.faqBody{
    position: absolute;
    width: 700px;
    height: 802px;
    margin-left: 10000px;
    margin-top: 60px;
    overflow-y: scroll;
    background-color: white;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 15px;
    overflow: scroll;
    z-index: 101;
}

.faqBodyPage{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
}

.faqBodyPage .btn-next{
    width: 125px;
    height: 44px;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    background: var( --faq-button);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-color);
    border-color: transparent;
}

.faqBodyPage .faq-title{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    font-weight: 900;
    color: var(--title-color);
}

.faqBodyPage .faq-body{
    width: 500px;
    font-size: 14px;
    margin-bottom: -10px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 70px; 
    text-align: justify;
    color: var(--title-color);
}

.faqBodyPage .faq-body-sub{
    width: 500px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 900;
    color: var(--title-color);
}

.tacet-vere-logo{
    width: 200.55px;
    height: auto;
    margin-left: 90px;
    margin-top: 828px;
}

@media (max-width: 500px) {
    .logo{
        position: absolute;
        width: 193px;
        height: 56px;
        left: 70px;
        top: 60px;
        border-radius: 0px;
    }
    
    .converse-conosco-logo{
        position: absolute;
        margin-left: 60%;
        top: -45px;
    }
    
    .converse-conosco{
        position: absolute;
        top: 700px;
    }
    
    .converse-conosco-info {
        position: absolute;
        width: 400px;
        margin-left: -28%;
        text-align: center;
        top: 730px;
    }
    
    .converse-conosco-contato {
        position: absolute;
        width: 200px;
        margin-left: -5%;
        text-align: center;
        top: 750px;
    }
    
    .WhatsApp-logo{
        position: absolute;
        margin-top: -30px;
        margin-left: 60%;
    }
    
    .WhatsApp{
        position: absolute;
        margin-top: 30px;
        margin-left: 10%;
        top: 800px;
    }
    
    .WhatsApp-info{
        position: absolute;
        width: 400px;
        margin-left: -28%;
        text-align: center;
        top: 870px;
    }
    
    .WhatsApp-contato{
        position: absolute;
        width: 147px;
        height: 36px;
        left: 140px;
        top: 900px;
        font-weight: 900;
        font-size: 16px;    
    }
    
    .faq-logo{
        position: absolute;
        margin-top: 200px;
        margin-left: 0px;
    }
    
    .faq .btn-next{
        position: absolute;
        margin-top: 50px;
        margin-left: -120px;
    }
    
    .faq{
        display: hidden;
        position: absolute;
        width: 400px;
        text-align: center;
        margin-left: -80px;
        margin-top: 470px;
    }

    .tacet-vere-logo{
        position: absolute;
        width: 300.55px;
        height: auto;
        margin-top: 230px;
        margin-left: -110px;
        padding-bottom: 50px;
    }
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/

.container{
    position: absolute;
    width: 700px;
    height: 802px;
    left: 590px;
    top: 60px;
    background: var(--text-color);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 100px;
}

.container .pages {
  position: absolute;
  display: flex;
  width: 1200%;
  box-sizing: border-box; 
}

.container .page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
}

.container .up-logo{
    position: absolute;
    width: 500px;
    padding-bottom: 450px;
}

.container .start-logo{
    position: absolute;
    width: 350px;
    padding-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),var(--button-color);
}

.container .title-start{
    margin-top: 600px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
}

.container .title{
    width: 500px;
    height: 80px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    color: var(--title-color);
    margin-top: 70px;
}

.container .event {
    width: 560px;
    left: 62px;
    font-weight: 900;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--body-color);
}

.container .explanation {
    width: 486px;
    height: 90px;
    left: 99px;
    top: 62px;
    font-weight: 900;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: var(--title-color);
    
}

.container .body{
    width: 560px;
    height: 416px;
    left: 70px;
    top: 207px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--body-text-color);
    text-align: justify;
    margin-top: 30px;
}

.container .btn-next{
    width: 541px;
    height: 55px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    background: var(--button-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--text-color);
    border-color: transparent;
}

.container .btn-next-allow{
    width: 541px;
    height: 55px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    background: var(--border-gray);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--text-color);
    border-color: transparent;
}

.container .btn-previous{
    cursor: pointer;
    transition: 0.1s;
    background: transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--button-color);
    border-color: transparent;
}

.container .border-box{
    box-sizing: border-box;
    width: 560px;
    height: 56px;
    border: 1px solid var(--border-gray);
    border-radius: 4px;
    margin: 15px 0 8px 0;
}

.container .border-box .border-box-label{
    margin-top:-100px;
}

.container .border-box-rectangle{
    box-sizing: border-box;
    width: 138px;
    height: 55px;
    border: 1px solid var(--border-gray);
    border-radius: 3px;
}

.container .border-box-rectangle-2{
    box-sizing: border-box;
    width: 238px;
    height: 55px;
    margin-top: 5px;
    border: 1px solid var(--border-gray);
    border-radius: 3px;
}

.container .title-box{
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 26px;
    color: var(--body-text-color);
}

.container .title-hr{
    font-weight: 700;
    font-size:16px;
    line-height: 24px;
    margin-bottom: -3px;
    color: var(--body-text-color);
}

.container .title-legend{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--body-text-color);
}

.container .title-hr-2{
    font-weight: 700;
    font-size:16px;
    line-height: 24px;
    margin-top: 200px;
    color: var(--body-text-color);
}

.container .title-hr-3{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--body-text-color);
}

.container .checkmark-box{
    width: 541px;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid var(--border-gray);
}

.container .checkmark-box .checkmark{
    margin-left: 480px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 10px solid #2FAC66;
}

.container .checkmark-title{
    position: absolute;
    padding-left: 50px;
    margin-top: -30px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--title-color);
}

.container .checkmark-title-disabled{
    position: absolute;
    padding-left: 50px;
    margin-top: -30px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--border-gray);
}

.container .checkmark-logo{
    position: absolute;
    margin-top: 0px;
    margin-left: 15px;
    color: var(--text-color);
}

.container .checkmark-logo-disabled{
    position: absolute;
    margin-top: 0px;
    margin-left: 15px;
    color: var(--text-color);
    filter: grayscale(100%);
}

select {
    font-weight: 700;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 7px;
    -webkit-appearance: none;
   -moz-appearance: none;
}


select:valid{
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
}

input{
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 0.5rem;
    outline-color: #2fac66;
}

input::placeholder{
    color: var(--border-gray)
}

.container .label-placeholder{
    z-index: 100;
    position: fixed;
    padding-top: 16px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--border-gray);
}

.container .label-measure{
    z-index: -100;
    position: fixed;
    padding-top: 5px;
    padding-left: 76px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--body-text-color);
}

legend{
    font-weight: 700;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    color: var(--border-gray)
}

button:hover{
  transform: scale(1.05);
}

@media (max-width: 500px) {
    .container {
        position: absolute;
        width: 370px;
        height: 830px;
        top: 60px;
        background: var(--text-color);
        border-radius: 15px;
        overflow: hidden;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: -572px;
    }

    .container .pages {
        position: absolute;
        display: flex;
        width: 1000%;
        box-sizing: border-box; 
      }
      
      .container .page {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.7s;
          color: white;
      }
      
      .container .up-logo{
          position: absolute;
          width: 300px;
          padding-bottom: 450px;
      }
      
      .container .start-logo{
          position: absolute;
          width: 350px;
          padding-top: 50px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),var(--button-color);
      }
      
      .container .title-start{
          margin-top: 600px;
          font-size: 26px;
          line-height: 40px;
          font-weight: 900;
          text-align: center;
          text-transform: uppercase;
          color: var(--title-color);
      }
      
      .container .title{
          width: 250px;
          height: 80px;
          font-size: 18px;
          line-height: 40px;
          font-weight: 900;
          text-align: center;
          color: var(--title-color);
          margin-top: 70px;
      }
      
      .container .event {
          width: 230px;
          left: 62px;
          font-weight: 900;
          font-size: 12px;
          line-height: 35px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 20px;
          color: var(--body-color);
      }
      
      .container .explanation {
          width: 246px;
          height: 90px;
          left: 99px;
          top: 62px;
          font-weight: 900;
          font-size: 14px;
          line-height: 35px;
          text-align: center;
          color: var(--title-color);
          
      }
      
      .container .body{
          width: 230px;
          height: 416px;
          left: 70px;
          top: 207px;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 21px;
          color: var(--body-text-color);
          text-align: justify;
          margin-top: 30px;
      }
      
      .container .btn-next{
          width: 200px;
          height: 60px;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.1s;
          background: var(--button-color);
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: var(--text-color);
          border-color: transparent;
      }
      
      .container .btn-next-allow{
          width: 200px;
          height: 60px;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.1s;
          background: var(--border-gray);
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: var(--text-color);
          border-color: transparent;
      }
      
      .container .btn-previous{
          cursor: pointer;
          transition: 0.1s;
          background: transparent;
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: var(--button-color);
          border-color: transparent;
      }
      
      .container .border-box{
          box-sizing: border-box;
          width: 230px;
          height: 56px;
          border: 1px solid var(--border-gray);
          border-radius: 4px;
          margin: 15px 0 8px 0;
      }
      .container .checkmark-box{
        width: 221px;
        height: 50px;
        padding-top: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        border-radius: 4px;
        border: 1px solid var(--border-gray);
    }

    .container .checkmark-box .checkmark{
        margin-left: 180px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 10px solid #2FAC66;
    }
    
    .container .checkmark-title{
        position: absolute;
        padding-left: 50px;
        margin-top: -30px;
        margin-left: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: var(--title-color);
    }
    
    .container .checkmark-logo{
        position: absolute;
        margin-top: 0px;
        margin-left: 15px;
        color: var(--text-color);
    }

    .container .border-box{
        box-sizing: border-box;
        width: 230px;
        height: 56px;
        border: 1px solid var(--border-gray);
        border-radius: 4px;
        margin: 15px 0 8px 0;
    }
    
    .container .border-box-rectangle{
        box-sizing: border-box;
        width: 100px;
        height: 55px;
        border: 1px solid var(--border-gray);
        border-radius: 3px;
    }
    
    .container .border-box-rectangle-2{
        box-sizing: border-box;
        width: 100px;
        height: 55px;
        margin-top: 5px;
        border: 1px solid var(--border-gray);
        border-radius: 3px;
    }
    
    .container .title-box{
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 26px;
        color: var(--body-text-color);
    }
    
    .container .title-hr{
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: -3px;
        color: var(--body-text-color);
    }
    
    .container .title-legend{
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: var(--body-text-color);
    }
    
    .container .title-hr-2{
        font-weight: 700;
        font-size:12px;
        line-height: 24px;
        margin-top: 200px;
        color: var(--body-text-color);
    }
    
    .container .title-hr-3{
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: var(--body-text-color);
    }
    select {
        font-weight: 700;
        font-size: 10px;
        padding-left: 10px;
        padding-top: 7px;
        -webkit-appearance: none;
       -moz-appearance: none;
    }
    
    select:valid{
        font-weight: 700;
        font-size: 10px;
        padding-left: 10px;
    }
    
    input{
        font-weight: 700;
        font-size: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin-left: 0.5rem;
        outline-color: #2fac66;
    }
  }

  /*--------------------------------------------------------------
# Last page
--------------------------------------------------------------*/

  .container-last{
    position: absolute;
    width: 700px;
    height: 802px;
    left: 590px;
    top: 60px;
    background: var(--text-color);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 100px;
}

.container-last .pages {
  position: absolute;
  display: flex;
  width: 100%;
  box-sizing: border-box; 
}

.container-last .page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
}

.container-last .btn{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: var(--button-color);
}

.container-last .title{
    width: 500px;
    height: 80px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    color: var(--title-color);
    margin-top: 70px;
}

.container-last .body{
    width: 560px;
    left: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--body-text-color);
    text-align: justify;
    margin-top: 30px;
}

.container-last .box{
    width: 446px;
    height: 55px;
    margin-top: 40px;
    border: 2px solid #2FAC66;
    border-radius: 8px;
}

.container-last .box .info{
    color: var(--button-color);
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    line-height: 35px;
    font-size: 16px;
}

.container-last .message{
    color: var(--title-color);
    text-align: center;
    margin-top: 83px;
    font-weight: 700;
    line-height: 35px;
    font-size: 16px;
}

.container-last .body-box{
    display: flex;
    gap:20px;
}


.container-last .box-info{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 154px;
    height: 109px;
    align-items: center;
    border: 2px solid #2FAC66;
    border-radius: 8px;
}

.container-last .box-icon{
    margin-top: 10px;
}

.container-last .box-text{
    width: 127px;
    height: 34px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: var(--title-color);
}