
<div class="modal fade" id="calculator1" tabindex="-1" role="dialog" aria-labelledby="calculator1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Calculadora de Emissões de Gases do Efeito Estufa Organizacional</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-bs-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-top mb-3">
                    <p style="text-indent: 50px; text-align: justify; ">
                        Essa calculadora permite você estimar gratuitamente as emissões anuais de gases do efeito estufa (GEE) da sua organização, a partir de dados e informações autodeclarados, de acordo com os princípios do padrão de cálculo do GHG Protocol.
                        Com esses resultados, a sua organização passa a ter subsídios para mapear oportunidades e riscos, e estabelecer estratégias, planos e metas para a gestão de emissões.
                    </p>
                    <p style="text-indent: 50px; text-align: justify;">
                        Para isso, você deverá preencher algumas informações mínimas sobre a sua organização (nome, setor e natureza das atividades) e o ano-base do inventário. Além disso, indicamos que você tenha em mãos as contas de energia.
                        Não se esqueça que para quaisquer dúvidas ou sugestões, nós estamos disponíveis para prestar qualquer suporte, através do nosso e-mail (contato@tacetvere.com) ou nosso whatsapp (+55 19 97808-3223).                        
                    </p>
                    <br>
                    <p class="text-center">
                        <input id="agreement" type="checkbox">
                        Eu li e concordo com a política de privacidade e os termos de uso
                    </p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" style="background-color:rgb(130,187,54); border:none;">Fechar</button>
                <button id="btnagreement" type="button" class="btn btn-send btn-next">Próximo</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#agreement').change(function () {
        $('#btnagreement').prop("disabled", !this.checked);
    }).change()
</script>
