<button hidden type="button" class="btn btn-send" data-bs-toggle="modal" data-bs-target="#calculator2" data-bs-dismiss="modal">
    Início
</button>

<div class="modal fade" id="calculator2" tabindex="-1" role="dialog" aria-labelledby="calculator2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações sobre sua empresa (1 de 6)</h4>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> -->
                <span aria-bs-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-top mb-3">
                    <h5>Comece falando um pouco da sua organização. Preencha alguns dados que descreverão sua organização no seu relato de cálculo</h5>
                </div>
                <form id="calculator" method="POST" action="/calculator" novalidate>
                    <fieldset>
                        <br>
                        <input class="form-control" name="social_name" type="text" placeholder="Razão social">
                        <br>
                        <input class="form-control" name="company_name" type="text" placeholder="Nome fantasia - Campo obrigatório" required>
                        <br>
                        <input class="form-control"  type="text" name="cnpj" id="cnpj" placeholder="XX.XXX.XXX/0001-XX" pattern="^\([0-9]{3}\)\s[0-9]{3}-[0-9]{4}$">
                        <br>
                        <input class="form-control" name="address" type="text" placeholder="E-mail institucional - Campo obrigatório" required>
                        <br>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fechar</button> -->
                <button type="button" class="btn btn-secondary btn-next">Próximo</button>
            </div>
        </div>
    </div>
</div>
