<button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#calculator3">
    Combustão Estacionária
</button>

<div class="modal fade" id="calculator3" tabindex="-1" role="dialog" aria-labelledby="calculator3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emissões Diretas (3 de 6)</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-bs-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-top mb-3">
                    <h4>Combustão Estacionária</h4>
                    <h4>Agora, para calcular as emisões, vamos começar pelas emissões decorrentes de processos de combustão estacionária.</h4>
                    <h5>Qual é o principal combustível e sua quantidade utilizados, quanto a:</h5>
                </div>
                <fieldset>
                    <div id="emission_one"></div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
                <button type="button" class="btn btn-send btn-next">Próximo</button>
            </div>
        </div>
    </div>
</div>