<button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#calculator4">
    Combustão móvel
</button>

<div class="modal fade" id="calculator4" tabindex="-1" role="dialog" aria-labelledby="calculator4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emissões Diretas (4 de 6)</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-bs-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-top mb-3">
                    <h4>Neste segundo momento, vamos lidar com emissões de origem móvel</h4>
                    <h5>Qual é o principal combustível e sua quantidade utilizados em frotas de propriedade ou alugados pela organização:</h5>
                </div>
                <fieldset>
                    <div id="emission_two"></div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
                <button type="button" class="btn btn-send btn-next">Próximo</button>
            </div>
        </div>
    </div>
</div>