<button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#calculator6">
    Emissões fugitivas
</button>

<div class="modal fade" id="calculator6" tabindex="-1" role="dialog" aria-labelledby="calculator6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center">
                <div class="row">
                    <div class="col-9 text-end">
                        <h4>
                            <br>
                            Emissões Diretas (5 de 6)
                        </h4>
                    </div>
                    <div class="col-3 text-start">
                        <h4>
                            <a class="badge badge-dark" data-bs-toggle="collapse" href="#stationInfo5" role="button" aria-bs-expanded="false" aria-bs-controls="stationInfo5">
                                <i class="bi bi-info-circle-fill"></i>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="collapse" id="stationInfo5">
                    <div class="card-body">
                        <hr>
                        <div class="mt-2">
                            Emissões diretas são aquelas, cuja origem são as fontes locais de emissão, decorrentes de atividades realizadas pela organização. Também são denominadas de Escopo 1. 
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-top mb-3">
                    <h4>Para finalizar o escopo 1, vamos lidar com emissões fugitivas.</h4>
                    <h5>Preencha os campos abaixo, conforme solicitado:</h5>
                </div>
                <fieldset>
                    <div id="emission_three"></div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fechar</button> -->
                <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
                <button type="button" class="btn btn-send btn-next">Próximo</button>
            </div>
        </div>
    </div>
</div>