<button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#calculator6">
    Emissões indiretas
</button>

<div class="modal fade" id="calculator6" tabindex="-1" role="dialog" aria-labelledby="calculator4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emissões Indiretas (6 de 6)</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-bs-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-top mb-3">
                    <h4>Combustão Estacionária</h4>
                    <h4>Por último, no escopo 2, vamos calcular as emissões de compra de energia. </h4>
                    <h5>Qual é a quantidade de eletricidade adquirida anualmente da rede de transmissão?</h5>
                </div>
                    <fieldset>
                        <input class="form-control" name="electricity_consume" type="text" value="Consumo de eletricidade">
                        <br>
                        <input class="form-control" name="electricity_transmission" type="text" value="Eletricidade de rede de transmissão">
                        <br>
                        <input class="form-control" name="electricity_quantity" type="number" placeholder="Quantidade">
                        <br>
                        <input class="form-control" name="electricity_unity" type="text" value="kWh">
                        <br>
                        <button type="submit" class="btn btn-send">Calcular</button>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-secondary btn-prev">Anterior</button>
            </div>
        </div>
    </div>
</div>