<button hidden type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#calculator7">
    Resultados
</button>

<div class="modal fade" id="calculator7" tabindex="-1" role="dialog" aria-labelledby="calculator4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Resultados</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-bs-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Escopo 1: Emissões totais de CO2e (t)</h4>
                <input class="form-control" name="emission_source_five" type="text" value="4">
                <br>
                <hr>
                <h4>Escopo 1: Emissões totais de CO2e (%)</h4>
                <input class="form-control" name="emission_source_five" type="text" value="91.68%">
                <br>
                <hr>
                <h4>Escopo 2: Emissões totais de CO2e (t)</h4>
                <input class="form-control" name="emission_source_five" type="text" value="0">
                <br>
                <hr>
                <h4>Escopo 2: Emissões totais de CO2e (%)</h4>
                <input class="form-control" name="emission_source_five" type="text" value="8.32%">
                <br>
                <hr>
                <h4>Emissões Totais de Gases do Efeito Estufa (tCO2e)</h4>
                <input class="form-control" name="emission_source_five" type="text" value="5">
                <br>
                <hr>
                <h4>Potencial de Aquecimento Global - GWP(100) AR6</h4>
                <input class="form-control" name="emission_source_five" type="text" value="CO2 biogênico: 0">
                <br>
                <input class="form-control" name="emission_source_five" type="text" value="CO2 fóssil: 1">
                <br>
                <input class="form-control" name="emission_source_five" type="text" value="CH4: 27,9">
                <br>
                <input class="form-control" name="emission_source_five" type="text" value="N2O: 273">
                <br>
                <input class="form-control" name="emission_source_five" type="text" value="HFC-32: 771">
                <br>
                <input class="form-control" name="emission_source_five" type="text" value="HFC-125: 3740">
                <br>
                <input class="form-control" name="emission_source_five" type="text" value="CFC-12: 11200">
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>