<!--Header-->
<%- include("../../partials/header.ejs") %>
<!--Navbar-->
<%- include ("../../partials/navbar.ejs") %>

<main id="pageform">
    <section class="form-user">
        <div class="container d-flex justify-content-center">
            <div class="card text-dark bg-light text-center" style="width: 300px;">
                <div class="card-header mt-3">
                    <p class="fs-4">Novo usuário</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="/users/new">
                        <input class="form-control" name="name" type="text" placeholder="Nome Sobrenome" required>
                        <br>
                        <input class="form-control" name="email" type="email" placeholder="email@exemplo.com" required>
                        <br>
                        <input class="form-control" name="picture" type="text" placeholder="link da imagem" required>
                        <br>
                        <input class="form-control" name="position" type="text" placeholder="Cargo que ocupa" required>
                        <br>
                        <textarea class="form-control" name="about" type="text" placeholder="Bacharel em ...." required></textarea>
                        <br>
                        <input class="form-control" name="linkedin" type="text" placeholder="https://linkedin.com/in/perfil" required>
                        <br>
                        <input class="form-control" name="password" type="password" placeholder="Senha" required>
                        <br>
                        <input class="form-control" name="passwordCheck" type="password" placeholder="Digite a senha novamente" required>
                        <br>
                        <button type="submit" class="btn btn-send btn-block">Criar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Footer-->
<%- include("../../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../../partials/footer.ejs") %>