<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar.ejs") %>

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-item active" style="background-color: white">
            <div class="carousel-container">
                <div class="row">
                    <div class="col-2">
                        <div class="container">
                            <img src="assets/img/logo/logo_only.png">
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="container">
                            <h3 class="animate__animated animate__fadeInDown">CONSULTORIA E TECNOLOGIA EM</h3>
                            <h2 class="animate__animated animate__fadeInUp">SUSTENTABILIDADE</h2>
                            <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<%- include("../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../partials/footer.ejs") %>