<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar.ejs") %>

<section id="about" class="about section-white-bg">
    <div class="container">

      <div class="section-title">
        <h2>Sobre</h2>
      </div>

        <h3>QUEM SOMOS</h3>
        <br>
        <p >
            Somos uma equipe diversificada, com pessoas, cuja formação engloba as áreas de gestão e análise ambiental, engenharia ambiental, direito, gestão de projetos, planejamento de sistemas energéticos, e política científica e tecnológica.
        </p>

        <hr>
        <br>
        <h3>NOSSA ESSÊNCIA</h3>
        <br>
        <p>
            Somos uma cleantech que fornece soluções acessíveis, seguras e escaláveis para o desenvolvimento sustentável. Fornecemos suporte à contabilidade de impactos socioambientais, às ações de redução e mitigação de impacto, e ao relato, nos padrões de compliance e de melhores práticas. Essas soluções têm sido automatizadas e respaldadas na tecnologia para trazer rigor científico, rastreabilidade e sigilo empresarial.
        </p>
                
        <hr>
        <br>
        <h3>DE ONDE VIEMOS</h3>
        <br>
        <p>
            Somos uma cleantech que fornece soluções acessíveis, seguras e escaláveis para o desenvolvimento sustentável. Fornecemos suporte à contabilidade de impactos socioambientais, às ações de redução e mitigação de impacto, e ao relato, nos padrões de compliance e de melhores práticas. Essas soluções têm sido automatizadas e respaldadas na tecnologia para trazer rigor científico, rastreabilidade e sigilo empresarial.
        </p>
    </div>
</section>

<!--Footer-->
<%- include("../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../partials/footer.ejs") %>