<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar.ejs") %>

<section id="userterm" class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <h1 class="text-center">Termos e Condições de Uso</h1>
            <hr>
            <br>
            <p>
                O presente documento contém os termos e condições de uso (doravante denominado “Termos de Uso”) da website e da plataforma online da Falco Gestão e Análise Ambiental (doravante denominado “Tacet Vere”), cuja aceitação plena, irrevogável e integral, deve ser acatada pelos seus usuários e membros a partir do acesso à website.
            </p>
            <p>
                O uso das áreas públicas da Tacet Vere está disponível para qualquer pessoa interessada, sem necessidade de cadastro. 
            </p>
            <p>
                O uso da website e da plataforma online da Tacet Vere implica no reconhecimento e na plena aceitação de todos os termos a seguir. Assim, tendo acessado esta website e/ou quaisquer de suas páginas, o usuário terá aceitado expressa e voluntariamente, de forma automática, todos os Termos de Uso aqui estabelecidos. Desta forma, caso não concorde com todos os Termos de Uso, solicitamos ao usuário que, não acesse, use ou navegue, ou então cesse imediatamente a navegação ou consulta pública das páginas desta website.
            </p>
            <p>
                A Calculadora Tacet Vere é uma propriedade intelectual da Tacet Vere. É parte de uma website brasileira para cálculo voluntário de inventários organizacionais de emissões de gases de efeito estufa (GEE), que utiliza as Especificações do Programa GHG Protocol como protocolo de referência técnica.
            </p>

            <p>
                A Falco Gestão e Análise Ambiental (“Tacet Vere”) procura manter os materiais e informações contidos nesta website atualizados, precisos e completos. No entanto, não garantimos que o conteúdo, os instrumentos e os materiais contidos, utilizados e oferecidos nesta website estejam precisamente atualizados ou completos, e não nos responsabilizamos por danos causados por eventuais imprecisões, omissões, erros de conteúdo ou falhas de equipamento.
            </p>

            <p>
                Também não nos responsabilizamos, expressa ou tacitamente, pelo uso indevido de informações, instrumentos, materiais disponibilizados e/ou equipamentos utilizados por esta website, para quaisquer que sejam os fins, feito por qualquer usuário, sendo de inteira responsabilidade deste as eventuais lesões a direito próprio ou de terceiros, causadas ou não por esse uso inadequado.
            </p>

            <p>
                Em nenhuma circunstância, diretores, colaboradores ou prestadores de serviços da Tacet Vere serão responsáveis por quaisquer danos diretos ou indiretos, especiais, incidentais ou de consequência, perdas ou despesas oriundos da conexão com esta website, do uso ou incapacidade de uso por qualquer parte, ou com relação a qualquer falha de desempenho, erro, omissão, interrupção, defeito ou demora na operação ou transmissão, vírus de computador ou falha da linha ou do sistema, mesmo que seus representantes tenham sido avisados da possibilidade de tais danos, perdas ou despesas.
            </p>

            <p>
                O adequado provimento de todos os recursos da Internet, sem exceção, é de inteira responsabilidade do usuário da website.
            </p>
            <p>
                A Tacet Vere não se responsabiliza pelo conteúdo de outras websites (a) cujos endereços estejam disponíveis nas páginas desta website ou (b) cujo endereço desta website esteja nelas disponível. Da mesma forma, não garante o ressarcimento de quaisquer perdas e danos causados pelas websites nesses itens referidos.
            </p>

            <h5>DIREITOS DE AUTOR E PROPRIEDADE INTELECTUAL</h5>

            <p>Salvo disposição em contrário, todo o conteúdo das páginas desta website, tais como informações, materiais, instrumentos, organização da página, gráficos, fotografias e imagens (“Material”), pertence à Tacet Vere ou a terceiros que licitamente cederam seu direito de uso, de tal forma que estamos autorizados a utilizar esse Material como parte desta website. A reprodução dos conteúdos descritos anteriormente está proibida, salvo mediante prévia autorização por escrito da Tacet Vere. Em nenhuma hipótese o usuário adquirirá qualquer direito sobre o Material.</p>            

            <h5>DEVERES DOS USUÁRIOS</h5>

            <p>Você concorda que deverá nos informar um endereço válido de e-mail, tanto na hora de cadastro da organização junto à Tacet Vere, quanto a cada vez que o seu e-mail mudar. Você concorda também que o seu perfil ou quaisquer porções reservadas não devem ser usadas por você para atividades comerciais, vendas de bens e serviços, ou a promoção de uma companhia, bem ou serviço. Você será exclusivamente responsável pelas informações preenchidas no que se refere ao inventário da organização, independentemente de sua intenção ou não de fazê-lo.</p>

            <p>São deveres dos Usuários:</p>

            <ul>
                <li>
                    Utilizar o site em conformidade com a legislação brasileira e de boa-fé, não produzindo nenhum conteúdo ilegal, difamatório, de incentivo à violência ou que reproduza discurso de ódio em razão de orientação sexual, religião, gênero, etnia, nacionalidade, condições de saúde, físicas ou sociais ou outras questões que possuam caráter discriminatório.
                </li>
                <li>
                    Respeitar a propriedade intelectual da Tacet Vere e de terceiros, que pode envolver os códigos, textos, marcas, nome empresarial, domínios, logotipos, imagens, gráficos, layout; o conjunto de programas, bancos de dados, redes e arquivos dispostos no aplicativo e que possibilitam ao Usuário utilizar as funcionalidades disponibilizadas. 
                </li>
            </ul>

            <p>Restrições:</p>

            <p>Ao considerar o uso de nossa Plataforma, você concorda que as suas Informações: (a) não devem ser fraudulentas; (b) não devem infringir nenhum direito autoral de terceiros, patente, marca registrada, direito de distribuição ou outro direito de propriedade intelectual, de publicação ou privacidade; (c) não devem violar nenhuma lei, estatuto, ordenação ou regulamento; (d) não devem ser difamatórias, caluniosas, ameaçadoras ou abusivas; (e) não devem ser obscenas ou conter pornografia, pornografia infantil, ou fotos de pessoas despidas; (f) não devem conter vírus, cavalos de Tróia, worms, time bombs, cancelbots, easter eggs ou outras rotinas de programação que possam danificar, interferir, interceptar ou desapropriar qualquer sistema, dado ou informação pessoal; (g) não devem nos responsabilizar ou fazer com que percamos (total ou parcialmente) o serviço do nosso Provedor de Internet ou outros fornecedores; (h) não devem criar links direta ou indiretamente a qualquer material que você não tenha direito de incluir ou “linkar”.</p>

            <p>É vedado aos usuários:</p>

            <ul>
                <li>Interferir na operação do website, de seus servidores ou de suas redes.</li>
                <li>Extrair listas ou bases de dados não autorizados, a partir das informações disponíveis no website.</li>
                <li>Realizar engenharia reversa de qualquer parte do website.</li>
                <li>Realizar coleta de dados de forma não autorizada pela Tacet Vere.</li>
            </ul>

            <h5>INFORMAÇÕES PREENCHIDAS</h5>

            <p>Todas as informações inseridas na calculadora Tacet Vere são autodeclaradas pelas organizações.</p>
            <p>Os dados informados são relativos a:</p>

            <ul>
                <li>Dados cadastrais da matriz, unidade e controladas da organização Membro: CNPJ, razão social, nome fantasia, endereço completo, setor e subsetor.</li>
                <li>Dados para contato: nome do responsável pela comunicação com a equipe da Tacet Vere, e-mail e telefone. Esses dados são para uso e comunicação da Tacet Vere com a organização, não sendo fornecidos a terceira parte sem expresso consentimento e autorização da organização.</li>
                <li>Dados de identidade visual: durante o cadastro da organização na área restrita é solicitado que a logomarca da organização seja anexada ao formulário, com o intuito de elaboração do relatório final do inventário.</li>
                <li>Dados de outros colaboradores: o responsável pelo inventário da organização pode incluir informações de outros colaboradores da organização para auxílio no exercício de preenchimento das informações do inventário. Também compete ao responsável pelo inventário incluir informações sobre o verificador do inventário, quando aplicável.</li>
                <li>Dados de emissão de GEE: para cada inventário são solicitadas informações sobre a abordagem de consolidação das emissões; as categorias contabilizadas por Escopo; as emissões de cada GEE, em toneladas; as emissões de CO2 equivalente para cada categoria contabilizada, em toneladas, e as emissões e remoções de CO2 biogênico, em toneladas.</li>
                <li>Outros dados: há campos de preenchimento opcional, tais como compra de energia elétrica renovável, melhorias internas no processo de elaboração do inventário, descrição de indicadores de emissão, metas e gestão das emissões, performance da organização, contratos com clientes e fornecedores, informações, incertezas e exclusões de fontes de emissão, compensação e redução de emissões. Emissões de unidades no exterior e de gases não controlados pelo Protocolo de Quioto, embora sejam de relato opcional, são consideradas boa prática no mercado.</li>
            </ul>

            <h5>INFORMAÇÕES PÚBLICAS E PRIVADAS</h5>

            <p>“Suas Informações”: são definidas como qualquer informação preenchida pelo usuário na área restrita, do seu uso da website, do seu acesso ao website, de mensagens enviadas dentro da website ou por e-mail. Você é o único responsável por Suas Informações, e nós agimos como um canal passivo para a distribuição e publicação de suas informações públicas (como definidas abaixo).</p>
            <p>“Informações Públicas”: todas as informações que constam nos inventários de GEE das organizações (exceto os “Dados para contato”) e que devem ser preenchidas, bem como qualquer parte de suas informações que, através do uso da plataforma ou de outra maneira, você envie ou disponibilize para a inclusão em áreas públicas de nossa website.</p>
            <p>“Informação Privada”: qualquer outra parte de suas informações que não sejam informações públicas, será referida como informação privada.</p>
            <p>“Áreas públicas”: são aquelas áreas do nosso website que são acessíveis para os usuários públicos.</p>
            <p>Acessibilidade das Informações Públicas. As suas Informações Públicas podem ser acessíveis e publicadas por programas de publicação automática e por ferramentas de busca, ferramentas de metabusca, crawlers, metacrawlers e outros similares.</p>

            <h5>CONFIDENCIALIDADE</h5>
            <p>Os dados preenchidos pelos representantes das organizações são de responsabilidade das próprias organizações e poderão ser agregados pela Tacet Vere para realização de análises de benchmarking por setor, sem a identificação da organização.</p>
            <p>A Tacet Vere não se responsabiliza pelas informações inseridas pelos representantes das organizações.</p>

            <h5>MODIFICAÇÕES DESTES TERMOS E CONDIÇÕES DE USO </h5>
            <p>Reservamo-nos o direito de modificar de forma unilateral, sem aviso prévio e a qualquer momento, os presentes Termos de Uso. Ao navegar por este website, o usuário aceita de forma expressa e inequívoca os Termos de Uso.</p>
            <p>Para esclarecimentos dos formulários, funcionalidades e também dos conteúdos, entre em contato com a equipe Tacet Vere.</p>
            <p>Os canais de atendimento da Tacet Vere são pelo e-mail contato@tacetvere.com ou pelo celular/whatsapp +55 19 97808-3223.</p>

            <h5>LEI APLICÁVEL E JURISDIÇÃO</h5>
            <p>Os Termos de Uso regem-se pelas normas legais e regulamentares da República Federativa do Brasil. Os usuários do website da Tacet Vere se submetem à Comarca de Campinas/São Paulo.</p>


        </div>
    </div>
</section>


<!--Footer-->
<%- include("../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../partials/footer.ejs") %>