<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<section>
    <div class="mb-1 text-center fw-bolder mb-4">
        <h1>Inventário de emissões de GEE</h1>
        <hr>
    </div>
    <div class="row text-center justify-content-md-center">
        <div class="col-md-auto mb-4">
            <a href="/admin/parameters" class="btn btn-send">Fatores de emissão</a>
        </div>
    </div>
</section>

  <!--Footer-->
<%- include("../../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../../partials/footer.ejs") %>