<div class="page one">
    <img class="up-logo" src="assets/img/greener/Logos_Tacet_Greener.png">
    <img class="start-logo" src="assets/img/greener/icone_Greener.png">
    <h1 class="title-start">
        <button id="start" class="btn-next" onClick="slide('next')">INICIAR MENSURAÇÃO</button>
    </h1>
</div>