<div class="page zero">
    <h1 class="title">
    Para qual segmento <br> será o cálculo?
    </h1>
    <div class="body">
        <div id="startCalculator">
            <div class="checkmark-box">
                <img class="checkmark-logo" src="assets/img/greener/Icon_eventos.svg">
                <input id="event" class="checkmark" type="checkbox">
                <div class="checkmark-title">Eventos</div>
            </div>
            <div class="checkmark-box">
                <img class="checkmark-logo" src="assets/img/greener/Icon_empresas.svg">
                <input id="enterprise" class="checkmark" value="enterprise" type="checkbox" disabled>
                <div class="checkmark-title">Empresas</div>
            </div>
            <div class="checkmark-box">
                <img class="checkmark-logo" src="assets/img/greener/Icon_produtos.svg">
                <input id="product" class="checkmark" value="product" type="checkbox" disabled>
                <div class="checkmark-title">Produtos</div>
            </div>
            <div class="checkmark-box">
                <img class="checkmark-logo" src="assets/img/greener/Icon_logistica.svg">
                <input id="logistic" class="checkmark" value="logistic" type="checkbox" disabled>
                <div class="checkmark-title">Logística</div>
            </div>
        </div>
    </div>
    <button type="button" id='nextZero' class="btn-next-allow" onClick="slide('next')" disabled>
        <div>Iniciar</div>
    </button>
</div>