<div class="page one">
    <h1 class="title">
    Gestão de Carbono em Eventos
    </h1>
    <p class="body">
    Olá! Este formulário é uma elaboração da <a href="https://www.tacetvere.com/" target="__blank">TACET VERE</a> em parceria com a DAX GREEN, para a gestão de carbono no âmbito dos escopos 1 e 2, de acordo com o standard GHG Protocol.
    <br><br>
    Ao preencher os campos a seguir, você e a organização que você representa declaram automaticamente ciência e anuência da <a href="https://www.tacetvere.com/politica-de-privacidade" target="__blank">política de privacidade</a> e <a href="/https://www.tacetvere.com/termos-de-uso" target="__blank">termos de uso</a> da Tacet Vere.
    <br><br>
    São objetivos deste formulário:
    <br><br>
    - Auxiliar a delimitação do objetivo e do contexto da ação de mitigação climática da organização;
    <br><br>
    - Auxiliar no processo de levantamento de dados e informações para o modelo de gestão do carbono.
    <br><br><br><br><br><br><br>
    <button id="agreementButton" class="btn-next" onClick="slide('next')" >
        <div >Concordar e Continuar</div>
    </button>
</div>