<div class="page two">
    <h1 class="event">
    Evento
    </h1>
    <h1 class="explanation">
    Para começar, vamos fazer um breve cadastro de seu evento. Ele será essencial para contextualização e para o cálculo das emissões. 
    </h1>
    <div class="body">
        <form id="greener-carbon-management" method="POST" action="/greener-carbon-management">
            <div id="greenerCalculator">
                <label></label>
                <input id="email" class="border-box" name="email" type="email" placeholder="Seu melhor e-mail">
                <input id="name" class="border-box" name="name" type="text" placeholder="Seu nome?">
                <input id="position" class="border-box" name="position" type="text" placeholder="Sua função?">
                <select id="goal" class="border-box" name="goal">
                    <option disabled selected value>Finalidade desta ação?</option>
                    <option>Compensar emissões voluntariamente para inovar</option>
                    <option>Compensar emissões a pedido de seu cliente</option>
                    <option>Compensar emissões, assim como seus concorrentes fazem</option>
                    <option>Compensar emissões, como parte da gestão do carbono de sua organização</option>
                    <option value='other'>Outros</option>
                </select>
                <input id="otherGoal" class="border-box" name="otherGoal" type="text" placeholder="Qual?" style="display: none;">
            </div>
    </div>
    <button type="button" id='nextOne' class="btn-next-allow" onClick="slide('next')" disabled>
        <div>Próximo</div>
    </button>
    <button class="btn-previous" type="button" onClick="slide('prev')">
    < Voltar
    </button>
</div>