<div class="page three">
    <h1 class="event">
    Evento
    </h1>
    <h1 class="explanation">
    Certo. Agora, sobre o evento, vamos entender melhor o que você está organizando.
    </h1>
    <div class="body">
        <fieldset form="form">
            <div id="greenerCalculatorTwo">
                <input id="eventName" class="border-box" name="eventName" type="text" placeholder="Qual é o nome?">
                <input id="uf" class="border-box" name="uf" type="text" placeholder="Onde será realizado? (Cidade/UF)">
                <input id="firstDay" class="border-box" name="firstDay" type="text" placeholder="Quando é o primeiro dia?">
                <legend>Obs.: Excluindo o tempo de montagem e desmontagem</legend>
                <input id="lastDay" class="border-box" name="lastDay" type="text" placeholder="Quando é o último dia?">
                <legend>Obs.: Excluindo o tempo de montagem e desmontagem</legend>
            </div>
        </fieldset>
    </div>
    <button id='nextTwo' class="btn-next-allow" onClick="slide('next')" disabled>
    <div>Próximo</div>
    </button>
    <button class="btn-previous" onClick="slide('prev')">
    < Voltar
    </button>
</div>