<div class="page fiveOne">
  <div class="progress-bar-all"></div>
  <div class="progress-bar-page"></div>
  <h1 class="event">Emissões diretas</h1>
  <h1 class="explanation">
    Uso de combustível em veículos <br />de propriedade da sua organização
  </h1>

  <p class="info-explanation">
    Deixe o campo vazio se não souber estimar, ou preencha com 0 se não for
    aplicável.
  </p>
  <div class="body">
    <div id="greenerCalculatorFiveOne">
      <div class="row-box">
        <legend class="title-box">Diesel</legend>
        <input
          id="own_diesel"
          class="border-box-rectangle"
          name="own_diesel"
          type="number"
          placeholder="Litros"
          min="0"
        /><br />
        <legend class="title-box">Gasolina</legend>
        <input
          id="own_gas"
          class="border-box-rectangle"
          name="own_gas"
          type="number"
          placeholder="Litros"
          min="0"
        />
      </div>
      <div class="row-box">
        <legend class="title-box">Gás (GNV)</legend>
        <input
          id="own_gnv"
          class="border-box-rectangle"
          name="own_gnv"
          type="number"
          placeholder="m³"
          min="0"
        /><br />
        <legend class="title-box">Etanol</legend>
        <input
          id="own_etanol"
          class="border-box-rectangle"
          name="own_etanol"
          type="number"
          placeholder="Litros"
          min="0"
        />
      </div>
    </div>
  </div>
  <button
    id="nextFiveOne"
    type="button"
    class="btn-next"
    onClick="slide('next')"
  >
    <div>Próximo</div>
  </button>
  <button
    id="previousPageFiveOne"
    class="btn-previous"
    type="button"
    onClick="slide('prev')"
  >
    < Voltar
  </button>
  <button
    id="previousPageFiveOneExposed"
    class="btn-previous"
    type="button"
    onClick="slideZeroStart('prev')"
    style="display: none"
  >
    < Voltar
  </button>
</div>
