<div class="faqBody">
  <button class="btn-next-faq" type="button" onClick="faq('back')">x</button>
    <div class="faqBodyPage">
        <h1 class="faq-title">FAQ</h1>
        <div class="faq-body">
          <p class="faq-body-sub">O que é calculado?</p>
          A calculadora de Gestão de Carbono estima as emissões anuais de Gases do Efeito Estufa (GEE), representadas por toneladas de dióxido de carbono equivalente, ou tCO2e.
          <br><br>
          <p class="faq-body-sub">O que são Gases do Efeito Estufa?</p>
          São gases que são regulados pelo Protocolo de Kioto, por absorverem parte da radiação solar e contribuírem para o efeito estufa, aquecimento global e mudanças climáticas. Esses gases são dióxido de carbono (CO2), metano (CH4), óxido nitroso (N2O), hexafluoreto de Enxofre (SF6), hidrofluorcarbonos (HFC) e perfluorcarbonos (PFC).
          <br><br>
          <p class="faq-body-sub">Qual é a diferença entre CO2 e CO2e?</p>
          O CO2 é dióxido de carbono, enquanto o CO2e é dióxido de carbono equivalente. O dióxido de carbono é o gás do efeito estufa mais abundante no nosso planeta. Por isso, ele é usado como referência no cálculo de gases do efeito estufa: ele é a base utilizada na conversão de outros gases em CO2e, de acordo com a contribuição de cada gás para o aquecimento global.
          <br><br>
          <p class="faq-body-sub">Quais as vantagens de calcular as emissões de gases do efeito estufa?</p>
          Calcular as emissões de gases do efeito estufa é o primeiro passo para que alguém ou uma organização possa contribuir no combate ao aquecimento global e às mudanças climáticas. É a partir desse cálculo que é possível compreender oportunidades de redução e compensação de emissões.
          <br><br>
          <p class="faq-body-sub">Qual é a metodologia utilizada para o cálculo?</p>
          O cálculo é feito com base nos princípios do GHG Protocol, que estão alinhados com a ISO 14064-1, as grandes referências de boas práticas no mercado.
          <br><br>
          <p class="faq-body-sub">Quais são os tipos de emissão?</p>
          Os tipos de emissão mínimos para serem calculados são os escopos 1 e 2, tendo em vista as boas práticas do mercado em contribuições no combate ao aquecimento global. O escopo 1 envolve as emissões diretas, ou seja, aquelas que ocorrem na área de operação da organização. O escopo 2 decorre das emissões indiretas da geração de energia adquirida pela organização. 
          <br><br><br><br>
        </div>
    </div>
  </div>