<div class="page last">
    <div class="progress-bar-all"></div>
    <div class="progress-bar-page"></div>
    <h1 class="event">
        
    </h1>
    <h1 class="explanation">
        Gestão de Carbono em Eventos
    </h1>
    <div class="body">
        <div id="submitOther">
            <div style="text-align: center;">
                Como este caso envolve uma categoria de evento que não está presente neste formulário, pedimos a gentileza de você entrar em contato conosco. 
                <br><br>
                Pelo telefone ou whatsapp +55 19 97808-3223; ou pelo e-mail contato@tacetvere.com
                <br><br>
                Nesses canais podemos instruir seus próximos passos para calcular suas emissões.
            </div>
            </form>
        </div>
    </div>
    <button id="submitFormTwo" class="btn-next" form="greener-carbon-management" type="submit">Enviar</button>
    <button class="btn-previous" onClick="slideTwo('prev')" type="button">
        < Voltar
    </button>
</div>