<div class="page last">
    <div class="progress-bar-all"></div>
    <div class="progress-bar-page"></div>
    <div id="submitOther">
        <h1 class="title">
        Gestão de Carbono em Eventos
        </h1>
        <p class="body">
            Como este caso envolve uma categoria de evento que não está presente neste formulário, pedimos a gentileza de você entrar em contato conosco. 
            <br><br>
            Pelo telefone ou whatsapp +55 19 97808-3223; ou pelo e-mail contato@tacetvere.com
            <br><br>
            Nesses canais podemos instruir seus próximos passos para calcular suas emissões.
        </p>
        <button class="btn-next" form="greener-carbon-management" type="submit">Enviar</button>
    </form>
    </div>
    <button class="btn-previous" onClick="slideTwo('prev')" type="button">
        < Voltar
    </button>
</div>