<div class="page one">
  <img class="up-logo" src="assets/img/atmmos/atmmos_tacet_vere.png" />
  <img class="start-logo" src="assets/img/atmmos/logo.png" />
  <h1 class="title-start">
    <button type="button" id="start" class="btn-next" onClick="slide('next')">
      INICIAR MENSURAÇÃO
    </button>
  </h1>
</div>
