<div class="page fiveFour">
    <div class="progress-bar-all"></div>
    <div class="progress-bar-page"></div>
    <h1 class="event">
      Emissões Indiretas
    </h1>
    <h1 class="explanation">
    Emissões por uso de <br> Energia Elétrica
    </h1>
    <p class="info-explanation">
      Deixe o campo vazio se não souber estimar, ou preencha com 0 se não for aplicável.
    </p>
    <div class="body">
      <div id="greenerCalculatorFiveFour">
        <div>
          <div style="width: 100%;">
            <div class="title-hr">Aquisição de energia elétrica</div>
            <hr>
          </div>
          <div>
            <div class="title-box">Energia de Rede</div>
            <input id="energy_consumed" class="border-box-rectangle-2" name="energy_consumed" type="number" placeholder="kWh" min="0">
          </div>
        </div>

        <br><br>

        <div id="NetEnergy">
          <div style="width: 100%;">
            <div class="title-hr-3">Produção de energia elétrica</div>
            <hr>
          </div>
          <div>
            <div class="title-box">Energia Renovável</div>
            <input id="energy_renewed" class="border-box-rectangle-2" name="energy_renewed" type="number" placeholder="kWh" min="0">
          </div>
        </div>
      </div>
    </div>
    <button id="submitFormOne" class="btn-next" form="atmmos-carbon-management" type="submit">Enviar</button>
  </form>
    <button class="btn-previous" type="button" onClick="slide('prev')">
      < Voltar
    </button>
</div>